APP_NAME="Pratos - Fichas Tecnicas"
NODE_ENV=development
PORT=3000

# Mudar para sqlite
DB_DIALECT=sqlite
DB_STORAGE=./database.sqlite

# Essas variáveis não são necessárias para SQLite, mas podem ficar
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=pratos_dev
DB_USER=root
DB_PASS=root

DEFAULT_MARKUP=3.5

EVENT_BROKER_URL=
EVENT_BROKER_SERVICE_TOKEN=